<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - REST Viewer</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="https://js.arcgis.com/4.10/esri/css/main.css">
        <link rel="stylesheet" href="~/css/site.css" />
        @RenderSection("Styles", false)
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://js.arcgis.com/4.11/esri/css/main.css">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        @RenderSection("Styles", false)
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">REST Services Viewer</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index" class="pageLink">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Data" class="pageLink">Data</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Map" class="pageLink">Map</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div id="login"> </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="bigbox"class="wrapper">
        <section id="main" class="wrapper body-content container">
            @RenderBody()
        </section>
        <hr />
        <footer>
            <p>&copy; 2019 - RSutcliffe</p>
        </footer>
    </div>
    <script type="text/javascript">
        var packagePath = ""; //window.location.pathname.substring(0, window.location.pathname.lastIndexOf('/'));
        var dojoConfig = {
            packages: [
                {
                    name: "custom",
                    location: packagePath + '/js/custom'
                },
                {
                    name: "map",
                    location: packagePath + '/js/mydojo/map'
                },
                {
                    name: "listmgr",
                    location: packagePath + '/js/mydojo/listmgr'
                },
                {
                    name: "datagrid",
                    location: packagePath + '/js/mydojo/datagrid'
                },
                {
                    name: "datagridpager",
                    location: packagePath + '/js/mydojo/datagridpager'
                },
                {
                    name: "auth",
                    location: packagePath + '/js/mydojo/auth'
                },
                {
                    name: "signin",
                    location: packagePath + '/js/mydojo/signin'
                }
            ],
            paths: { map: packagePath + '/js/mydojo/map' },
            cacheBust: true
        };

        
        var serviceUrl ='@ViewData["serviceUrl"]';
        var allFieldsString = '@ViewData["allFields"]';
        var selectedStateString = '@ViewData["selectedState"]';
        var page = '@ViewData["Page"]';
        var identityMgr = '@ViewData["IdentityMgr"]';

    </script>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="https://js.arcgis.com/4.11/"></script>
        <!--<script src="~/lib/fetch/fetch.umd.js"></script>-->
        <script src="~/js/site.js" asp-append-version="true"></script>
        <!--<script src="~/js/map.js" asp-append-version="true"></script>-->
        <!--<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"></script>-->
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="https://js.arcgis.com/4.11/"></script>
        <!--<script src="~/lib/fetch/fetch.umd.js"></script>-->
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)



</body>
</html>
